matrix:
  include:
  - env: CONTAINERD_BRANCH=master
  - env: CONTAINERD_BRANCH=release/1.3
    go: 
    - 1.12.15
dist: bionic
sudo: required
language: go
os:
- linux
go:
- "1.13.6"
branches:
  only:
  - master
addons:
  apt:
    packages:
    - btrfs-tools
    - libseccomp-dev
before_install:
- uname -r
install:
- mkdir -p "${GOPATH}/src/github.com/containerd/containerd"
- git clone --branch "${CONTAINERD_BRANCH}" https://github.com/containerd/containerd.git "${GOPATH}/src/github.com/containerd/containerd"
- export RUNC_COMMIT=$(grep opencontainers/runc ${GOPATH}/src/github.com/containerd/containerd/vendor.conf | cut -d " " -f 2)
- export RUNC_COMMIT="dc9208a3303feef5b3839f4323d9beb36df0a9dd" # v1.0.0-rc10, TODO: remove this hack
- go get -d github.com/opencontainers/runc
- cd $GOPATH/src/github.com/opencontainers/runc
- git checkout $RUNC_COMMIT
- cd $GOPATH/src/github.com/containerd/containerd
script:
- export gitVersion="$(cd "${GOPATH}/src/github.com/containerd/containerd" && git describe --match 'v[0-9]*' --dirty='.m' --always)+kind-ci"
- export TRAVIS_TAG="containerd-${gitVersion#v}"
- echo "${TRAVIS_TAG}"
- cd $TRAVIS_BUILD_DIR
- if curl -sSLf "https://api.github.com/repos/kind-ci/containerd-nightlies/releases/tags/${TRAVIS_TAG}" -o /dev/null; then echo "Release exists, skip the build" ; unset TRAVIS_TAG ; exit 0 ; fi
- sudo PATH=$PATH GOPATH=$GOPATH $TRAVIS_BUILD_DIR/release-containerd-nightly.sh
before_deploy:
- git config --local user.name "Nightly bot"
- git config --local user.email "nightly.bot@noemail.com"
- cd $TRAVIS_BUILD_DIR
- if git rev-parse "${TRAVIS_TAG}"; then echo "Deleting old tag" && git tag -d "${TRAVIS_TAG}"; fi
- git tag "${TRAVIS_TAG}"
deploy:
  provider: releases
  api_key:
    secure: FVfEJ9suf7NCSPKumAaaBJTHjIKJDOg3VsxMLe2tww4wbt7+Af95b25pUOhilzEbOJojvCJldpEQ2hqZQVjW9QSTNfrnrv4EEK2vlGgNY+Stv2R1xsANVc32uJCHsqUonSq2f4f+xGzOuYqbG3LaXoOat6sLNM4tDOQ7BxGsfNebt0JO5sLFZ66Tmvm1AVQYn+EH64uD5OQF0d3hKkLLncpRqOZ5HidDAMVVs6gmoC1g9h9fP3X1sv+JxiKHy19brEpb4QJihy+XVOLx6zkkqSHittnFt1oZ3cbgZkOYvDKW8cNISh3nGEt5td21qPeMIMfGRjwsKYUjujoOsFdIBOONdCIRm0zT52TyZ0Z/DHqycvTblHm9/raTCRpWchoy3et5o4JBK+vWyphBUBRByKD+DxjcLIm12oSEvtDt/or6RMdIciplTE8E84AweDsl+WuN5zgW80aHyjRir+Q58n87EkdE1JsWb1E6WWFH/O1qlGnNcd5TVvk/oolJ1nVJsleqHu+XM4G3lNPRDOkg/vZC6QJFNT4rJtZ2pbDw4WF9s9fY49o6i0hrr6jZ7PAxSkEm+hZRbx2qdoHYvujsmmlIb8vakoRgEwm1+jNpN9dCReIL9HLnwWN6HWDdTNYt/Zh4xzwHoOm/WPsG6A4qiA/kFelOsKpI8qaIeKv04oE=
  file_glob: true
  file:
  - $GOPATH/src/github.com/containerd/containerd/releases/*.tar.gz
  - $GOPATH/src/github.com/containerd/containerd/releases/*.tar.gz.sha256sum
  - $GOPATH/src/github.com/containerd/containerd/releases/runc.*
  name: ${TRAVIS_TAG} Build $(date +'%d.%m.%Y %R')
  skip_cleanup: true
  on:
    repo: kind-ci/containerd-nightlies
    tags: true
